<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6PUU9vhnReaBVCGhxKQIrS3DkPWqycMA</string>
	<key>GCM_SENDER_ID</key>
	<string>583238683026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apartmentManagerUser</string>
	<key>PROJECT_ID</key>
	<string>resieasy-6ac13</string>
	<key>STORAGE_BUCKET</key>
	<string>resieasy-6ac13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583238683026:ios:717b6fb06cf13b05ae994b</string>
</dict>
</plist>